<template>
  <div>
    <img class="logo" src="src/imagens/logo.png" width="141" height="87.89" align="center" alt="logo">
    <h1 class="titulo">Sistema de folha de ponto</h1>


     <form class="formu" action="/pagina-processa-dados-do-form" method="post">
        <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" />
        </div>
        
        <div>
            <label for="pass">Senha:</label>
            <input type="password" id="pass" name="password"
                  minlength="5" required>
        </div>

            <p class="senha">Esqueceu sua senha</p>

        <div class="button">
            <button class="botao" type="submit">ACESSAR</button>
        </div>
    </form>
  </div>


</template>

<script>
export default {

}
</script>

<style>

  .logo{
    align-content: left; 
  }

  .titulo{
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
  }


    .formu {
    
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    bottom: center;
  
}

.senha{
  text-decoration-line: underline;
}

.button {
    padding-left: 30px; 
    margin-left: .10em;
}

.botao{
    background-color: #D83738;
    border: none;
    width: 328px;
    height: 44px;
    border-radius: 2px;

}


  

</style>
